<!-- Admin access only -->
<% if current_photographer.try(:admin_status?) %>

<!-- Validation failure messages -->

<% if @sport.errors.any? %>
  <% @sport.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>


<!-- Responsive panel example -->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Edit Sport #<%= @sport.id %></h3>
      </div>
      <div class="panel-body">
        <form action="/update_sport/<%= @sport.id %>" class="form-horizontal">
          <!-- Label and input for sport -->
          <div class="form-group">
            <label for="sport" class="col-sm-2 control-label">
              Sport
            </label>
            <div class="col-sm-10">
              <input type="text" id="sport" name="sport" placeholder="Sport" class="form-control" value="<%= @sport.sport %>">
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <input type="submit" value="Update Sport" class="btn btn-warning">
              or
              <a href="/sports/<%= @sport.id %>">Cancel</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- End responsive panel example -->

<% else %>

Sorry, that page is only for Varsity Views administrators.

<% end %>
