<!-- Admin access only -->
<% if current_photographer.try(:admin_status?) %>

  <div class="page-header">
    <h1>
      Games
      <a href="/games/new" class="btn btn-lg btn-success"><i class="fa fa-plus"></i></a>
    </h1>
  </div>

  <hr>

  <div class="row">
  <% ordered_games = @games.order(:date) %>
  <% ordered_games.each do |game| %>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Game #<%= game.id %></h3>
        </div>

        <div class="panel-body">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
              <dl class="dl-horizontal">
                <dt><h6><strong>Photographer</strong></h6></dt>
                <dd><h6><%= game.photographer.first_name %> <%= game.photographer.last_name %></h6></dd>

                <dt><h6><strong>Date</strong></h6></dt>
                <dd><h6><%= game.date %></h6></dd>

                <dt><h6><strong>Time</strong></h6></dt>
                <dd><h6><%= game.time %></h6></dd>

                <dt><h6><strong>Location</strong></h6></dt>
                <dd><h6><%= game.location.short_name %></h6></dd>
              </dl>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
              <dl class="dl-horizontal">
                <dt>Sport</dt>
                <dd><%= game.sport.sport %></dd>

                <dt>Level</dt>
                <dd><%= game.level.level %></dd>

                <dt>Gender</dt>
                <dd><%= game.gender.gender %></dd>

                <dt>Home</dt>
                <dd><%= game.home.short_name %></dd>

                <dt>Away</dt>
                <dd><%= game.away.short_name %></dd>

                <dt>Event title</dt>
                <dd><%= game.event_title.title %></dd>
              </dl>
            </div>
          </div>

         <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
              <dl class="dl-horizontal">
                <dt><h6><strong>Check in time</strong></h6></dt>
                <% if game.check_in_time.present? == true %>
                  <dd><h6><%= game.check_in_time.in_time_zone('Eastern Time (US & Canada)').strftime("%D %r") %></h6></dd>
                <% else %>
                  <dd><h6><%= game.check_in_time %></h6></dd>
                <% end %>

                <dt><h6><strong>Check out time</strong></h6></dt>
                <% if game.check_out_time.present? == true %>
                  <dd><h6><%= game.check_out_time.in_time_zone('Eastern Time (US & Canada)').strftime("%D %r") %></h6></dd>
                <% else %>
                  <dd><h6><%= game.check_out_time %></h6></dd>
                <% end %>
              </dl>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
              <dl class="dl-horizontal">

                <dt><h6><strong>Photos submitted</strong></h6></dt>
                <dd>
                  <h6>
                    <% if game.photos_submitted == 'true'  %>
                        <i class="fa fa-check-square-o fa"></i>
                      <% else %>
                        <i class="fa fa-times fa"></i>
                    <% end %>
                  </h6>
                </dd>

                <dt><h6><strong>Game paid</strong></h6></dt>
                <dd>
                  <h6>
                    <% if game.game_paid == 'true'  %>
                        <i class="fa fa-check-square-o fa"></i>
                      <% else %>
                        <i class="fa fa-times fa"></i>
                    <% end %>
                  </h6>
                </dd>
              </dl>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
              <dl class="dl-horizontal">

                <dt><h6><strong>Rainout</strong></h6></dt>
                <% if game.rainout == 'true'  %>
                  <dd><h6><i class="fa fa-exclamation-triangle"></i></h6></dd>
                <% else %>
                  <dd><h6></i></h6></dd>
                <% end %>


                <dt><h6><strong>Denied entry</strong></h6></dt>
                <% if game.denied_entry == 'true'  %>
                  <dd><h6><i class="fa fa-exclamation-triangle"></i></h6></dd>
                <% else %>
                  <dd><h6></i></h6></dd>
                <% end %>

                <dt><h6><strong>Equipment failure</strong></h6></dt>
                <% if game.equipment_failure == 'true'  %>
                  <dd><h6><i class="fa fa-exclamation-triangle"></i></h6></dd>
                <% else %>
                  <dd><h6></i></h6></dd>
                <% end %>
              </dl>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <dl class="dl-horizontal">
                <dt><h6><strong>Comments</strong></h6></dt>
                <dd><h6><%= game.comments %></h6></dd>
              </dl>
            </div>
          </div>
          <div class="btn-group btn-group-justified">
            <a href="/games/<%= game.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>

            <a href="/games/<%= game.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>

            <a href="/delete_game/<%= game.id %>" class="btn btn-danger">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  </div>


<% else %>

Sorry, that page is only for Varsity Views administrators.

<% end %>
