<!-- Responsive panel example-->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Game #<%= @game.id %></h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-6">
            <dl class="dl-horizontal">
              <dt><h4><strong>Photographer</strong></h4></dt>
              <dd><h4><%= @game.photographer.first_name %> <%= @game.photographer.last_name %></h4></dd>

              <dt><h4><strong>Date</strong></h4></dt>
              <dd><h4><%= @game.date %></h4></dd>

              <dt><h4><strong>Time</strong></h4></dt>
              <dd><h4><%= @game.time %></h4></dd>

              <dt><h4><strong>Location</strong></h4></dt>
              <dd><h4><%= @game.location.short_name %></h4></dd>
            </dl>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-6">
            <dl class="dl-horizontal">
              <dt>Sport</dt>
              <dd><%= @game.sport.sport %></dd>

              <dt>Level</dt>
              <dd><%= @game.level.level %></dd>

              <dt>Gender</dt>
              <dd><%= @game.gender.gender %></dd>

              <dt>Home</dt>
              <dd><%= School.find_by({ :id => @game.home_id }).short_name %></dd>

              <dt>Away</dt>
              <dd><%= School.find_by({ :id => @game.away_id }).short_name %></dd>

              <dt>Event title</dt>
              <dd><%= @game.event_title.title %></dd>
            </dl>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-4 col-xs-4">
            <dl class="dl-horizontal">
              <dt><h6><strong>Check in time</strong></h6></dt>
              <% if @game.check_in_time.present? == true %>
                <dd><h6><%= @game.check_in_time.strftime("%D %r") %></h6></dd>
              <% else %>
                <dd><h6><%= @game.check_in_time %></h6></dd>
              <% end %>

              <dt><h6><strong>Check out time</strong></h6></dt>
              <% if @game.check_out_time.present? == true %>
                <dd><h6><%= @game.check_out_time.strftime("%D %r") %></h6></dd>
              <% else %>
                <dd><h6><%= @game.check_out_time %></h6></dd>
              <% end %>

              <dt><h6><strong>Comments</strong></h6></dt>
              <dd><h6><%= @game.comments %></h6></dd>
            </dl>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-4">
            <dl class="dl-horizontal">

              <dt><h6><strong>Photos submitted</strong></h6></dt>
              <dd><h6><%= @game.photos_submitted %></h6></dd>

              <dt><h6><strong>Game paid</strong></h6></dt>
              <dd><h6><%= @game.game_paid %></h6></dd>
            </dl>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-4">
            <dl class="dl-horizontal">

              <dt><h6><strong>Rainout</strong></h6></dt>
              <dd><h6><%= @game.rainout %></h6></dd>

              <dt><h6><strong>Denied entry</strong></h6></dt>
              <dd><h6><%= @game.denied_entry %></h6></dd>

              <dt><h6><strong>Equipment failure</strong></h6></dt>
              <dd><h6><%= @game.equipment_failure %></h6></dd>

            </dl>
          </div>
        </div>

<form>
<div class="btn-group" role="group" aria-label="Check_In_Check_Out_Report_Issue">
    <button type="button" class="btn btn-default" value= "<%= Time.now %>"><a href="/game_check_in/<%= @game.id %>"> Check In to Game</a></button>
</div>
</form>





  <button type="button" class="btn btn-default">Check Out of Game</button>

  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
      Report an Issue
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li><a href="#">Rainout</a></li>
      <li><a href="#">Denied Entry</a></li>
      <li><a href="#">Equipment Failure</a></li>
    </ul>
  </div>
</div>


            <div class="btn-group btn-group-justified">
              <a href="/games" class="btn btn-primary">
                <i class="fa fa-chevron-left"></i>
              </a>

              <a href="/games/<%= @game.id %>/edit" class="btn btn-warning">
                <i class="fa fa-edit"></i>
              </a>

              <a href="/delete_game/<%= @game.id %>" class="btn btn-danger">
                <i class="fa fa-trash-o"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- End responsive panel example -->
