<!-- Responsive panel example-->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Game #<%= @game.id %></h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <dl class="dl-horizontal">
              <dt>Photographer</dt>
              <dd><%= @game.photographer.first_name %> <%= @game.photographer.last_name %></dd>

              <dt>Date</dt>
              <dd><%= @game.date %></dd>

              <dt>Time</dt>
              <dd><%= @game.time %></dd>

              <dt>Location</dt>
              <dd><%= @game.location.short_name %></dd>

              <dt>Sport</dt>
              <dd><%= @game.sport.sport %></dd>

              <dt>Level</dt>
              <dd><%= @game.level.level %></dd>

              <dt>Gender</dt>
              <dd><%= @game.gender.gender %></dd>

              <dt>Home</dt>
              <dd><%= School.find_by({ :id => @game.home_id }).short_name %></dd>

              <dt>Away</dt>
              <dd><%= School.find_by({ :id => @game.away_id }).short_name %></dd>

              <dt>Event title</dt>
              <dd><%= @game.event_title.title %></dd>

              <dt>Check in time</dt>
              <dd><%= @game.check_in_time %></dd>

              <dt>Check out time</dt>
              <dd><%= @game.check_out_time %></dd>

              <dt>Comments</dt>
              <dd><%= @game.comments %></dd>

              <dt>Photos submitted</dt>
              <dd><%= @game.photos_submitted %></dd>

              <dt>Game paid</dt>
              <dd><%= @game.game_paid %></dd>

              <dt>Rainout</dt>
              <dd><%= @game.rainout %></dd>

              <dt>Denied entry</dt>
              <dd><%= @game.denied_entry %></dd>

              <dt>Equipment failure</dt>
              <dd><%= @game.equipment_failure %></dd>

            </dl>

<form>
<div class="btn-group" role="group" aria-label="Check_In_Check_Out_Report_Issue">
    <button type="button" class="btn btn-default" value= "<%= Time.now %>"><a href="/game_check_in/<%= @game.id %>"> Check In to Game</a></button>
</div>
</form>





  <button type="button" class="btn btn-default">Check Out of Game</button>

  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
      Report an Issue
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li><a href="#">Rainout</a></li>
      <li><a href="#">Denied Entry</a></li>
      <li><a href="#">Equipment Failure</a></li>
    </ul>
  </div>
</div>


            <div class="btn-group btn-group-justified">
              <a href="/games" class="btn btn-primary">
                <i class="fa fa-chevron-left"></i>
              </a>

              <a href="/games/<%= @game.id %>/edit" class="btn btn-warning">
                <i class="fa fa-edit"></i>
              </a>

              <a href="/delete_game/<%= @game.id %>" class="btn btn-danger">
                <i class="fa fa-trash-o"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- End responsive panel example -->
