<!-- Responsive panel example-->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Game Details</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-6">
            <dl class="dl-horizontal">
              <dt><h4><strong>Photographer</strong></h4></dt>
              <dd><h4><%= @game.photographer.first_name %> <%= @game.photographer.last_name %></h4></dd>

              <dt><h4><strong>Date</strong></h4></dt>
              <dd><h4><%= @game.date %></h4></dd>

              <dt><h4><strong>Time</strong></h4></dt>
              <dd><h4><%= @game.time %></h4></dd>

              <dt><h4><strong>Location</strong></h4></dt>
              <dd><h4><%= @game.location.short_name %></h4></dd>
            </dl>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-6">
            <dl class="dl-horizontal">
              <dt>Sport</dt>
              <dd><%= @game.sport.sport %></dd>

              <dt>Level</dt>
              <dd><%= @game.level.level %></dd>

              <dt>Gender</dt>
              <dd><%= @game.gender.gender %></dd>

              <dt>Home</dt>
              <dd><%= School.find_by({ :id => @game.home_id }).short_name %></dd>

              <dt>Away</dt>
              <dd><%= School.find_by({ :id => @game.away_id }).short_name %></dd>

              <dt>Event title</dt>
              <dd><%= @game.event_title.title %></dd>
            </dl>
          </div>
        </div>


      <form action="/game_comment/<%= @game.id %>" class="form-horizontal">
        <div class="btn-group btn-group-justified">
            <div class="btn-group btn-group-justified" role="group" aria-label="Check_In_Check_Out_Report_Issue">
                <button type="button" class="btn btn-default" value= "<%= Time.now %>"><a href="/game_check_in/<%= @game.id %>"> Check In to Game</a></button>
                <button type="button" class="btn btn-default" value= "<%= Time.now %>"><a href="/game_check_out/<%= @game.id %>"> Check Out of Game</a></button>
                <div class="dropdown">
                  <button class="btn btn-default dropdown-toggle" type="button" id="report_issue_dropdown" data-toggle="dropdown" aria-expanded="true">
                    Report an Issue
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="report_issue_dropdown">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="/game_rainout/<%= @game.id %>">Rainout</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="/game_denied_entry/<%= @game.id %>">Denied Entry</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="/game_equipment_failure/<%= @game.id %>">Equipment Failure</a></li>
                  </ul>
                </div>
                <div class="form-group">
                  <label for="comments" class="col-sm-2 control-label">
                    Leave / update a comment:
                  </label>
                  <div class="col-sm-10">
                    <textarea id="comments" name="comments" placeholder="Comments" class="form-control" rows="3"><%= @game.comments %></textarea>
                  </div>
                  <div class="col-sm-offset-2 col-sm-10">
                    <input type="submit" value="Leave / update comment" class="btn btn-success">
                    or
                    <a href="/games/<%= @game.id %>">Cancel</a>
                  </div>
                </div>
            </div>
        </div>
      </form>


        <div class="row">
          <div class="col-md-4 col-sm-4 col-xs-4">
            <dl class="dl-horizontal">
              <dt><h6><strong>Check in time</strong></h6></dt>
              <% if @game.check_in_time.present? == true %>
                <dd><h6><%= @game.check_in_time.strftime("%D %r") %></h6></dd>
              <% else %>
                <dd><h6><%= @game.check_in_time %></h6></dd>
              <% end %>

              <dt><h6><strong>Check out time</strong></h6></dt>
              <% if @game.check_out_time.present? == true %>
                <dd><h6><%= @game.check_out_time.strftime("%D %r") %></h6></dd>
              <% else %>
                <dd><h6><%= @game.check_out_time %></h6></dd>
              <% end %>

              <dt><h6><strong>Comments</strong></h6></dt>
              <dd><h6><%= @game.comments %></h6></dd>
            </dl>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-4">
            <dl class="dl-horizontal">

              <dt><h6><strong>Photos submitted</strong></h6></dt>
              <dd>
                <h6>
                  <% if @game.photos_submitted == 'true'  %>
                      <i class="fa fa-check-square-o fa"></i>
                    <% else %>
                      <i class="fa fa-times fa"></i>
                  <% end %>
                </h6>
              </dd>

              <dt><h6><strong>Game paid</strong></h6></dt>
              <dd>
                <h6>
                  <% if @game.game_paid == 'true'  %>
                      <i class="fa fa-check-square-o fa"></i>
                    <% else %>
                      <i class="fa fa-times fa"></i>
                  <% end %>
                </h6>
              </dd>
            </dl>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-4">
            <dl class="dl-horizontal">

              <dt><h6><strong>Rainout</strong></h6></dt>
              <% if @game.rainout == 'true'  %>
                <dd><h6><i class="fa fa-exclamation-triangle"></i></h6></dd>
              <% else %>
                <dd><h6></i></h6></dd>
              <% end %>


              <dt><h6><strong>Denied entry</strong></h6></dt>
              <% if @game.denied_entry == 'true'  %>
                <dd><h6><i class="fa fa-exclamation-triangle"></i></h6></dd>
              <% else %>
                <dd><h6></i></h6></dd>
              <% end %>

              <dt><h6><strong>Equipment failure</strong></h6></dt>
              <% if @game.equipment_failure == 'true'  %>
                <dd><h6><i class="fa fa-exclamation-triangle"></i></h6></dd>
              <% else %>
                <dd><h6></i></h6></dd>
              <% end %>

            </dl>

          </div>
        </div>
      </div>

            <div class="btn-group btn-group-justified">
              <a href="/" class="btn btn-primary">
                <i class="fa fa-chevron-left"></i>
              </a>

              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- End responsive panel example -->
