<!-- Validation failure messages -->

<% if @photographer.errors.any? %>
  <% @photographer.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>


<!-- Responsive panel example -->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Edit Photographer #<%= @photographer.id %></h3>
      </div>
      <div class="panel-body">
        <form action="/update_photographer/<%= @photographer.id %>" class="form-horizontal">
          <!-- Label and input for first_name -->
          <div class="form-group">
            <label for="first_name" class="col-sm-2 control-label">
              First name
            </label>
            <div class="col-sm-10">
              <input type="text" id="first_name" name="first_name" placeholder="First name" class="form-control" value="<%= @photographer.first_name %>">
            </div>
          </div>

          <!-- Label and input for last_name -->
          <div class="form-group">
            <label for="last_name" class="col-sm-2 control-label">
              Last name
            </label>
            <div class="col-sm-10">
              <input type="text" id="last_name" name="last_name" placeholder="Last name" class="form-control" value="<%= @photographer.last_name %>">
            </div>
          </div>

          <!-- Label and input for phone -->
          <div class="form-group">
            <label for="phone" class="col-sm-2 control-label">
              Phone
            </label>
            <div class="col-sm-10">
              <input type="text" id="phone" name="phone" placeholder="Phone" class="form-control" value="<%= @photographer.phone %>">
            </div>
          </div>

          <!-- Label and input for email -->
          <div class="form-group">
            <label for="email" class="col-sm-2 control-label">
              Email
            </label>
            <div class="col-sm-10">
              <input type="text" id="email" name="email" placeholder="Email" class="form-control" value="<%= @photographer.email %>">
            </div>
          </div>

          <!-- Label and input for paypal -->
          <div class="form-group">
            <label for="paypal" class="col-sm-2 control-label">
              Paypal
            </label>
            <div class="col-sm-10">
              <input type="text" id="paypal" name="paypal" placeholder="Paypal" class="form-control" value="<%= @photographer.paypal %>">
            </div>
          </div>

          <% if @photographer.admin_status == 'true' %>
            <div class="form-group">
              <label for="admin_status" class="col-sm-2 control-label">
                Admin Status
              </label>
              <div class="col-sm-10">
                <input type="radio" name="admin_status" value="true" checked>True
                <br>
                <input type="radio" name="admin_status" value="false">False
              </div>
            </div>
          <% else %>
             <div class="form-group">
              <label for="admin_status" class="col-sm-2 control-label">
                Admin Status
              </label>
              <div class="col-sm-10">
                <input type="radio" name="admin_status" value="true">True
                <br>
                <input type="radio" name="admin_status" value="false" checked>False
              </div>
            </div>
          <% end %>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <input type="submit" value="Update Photographer" class="btn btn-warning">
              or
              <a href="/photographers/<%= @photographer.id %>">Cancel</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- End responsive panel example -->
