<!-- Responsive panel example-->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Here are your games, <%= @photographer.first_name %> <%= @photographer.last_name %>!</h3>
        <h4 class="panel-title">Click on a game to get more details.</h4>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-6">
            <dl class="dl-horizontal">
              <dt>First name</dt>
              <dd><%= @photographer.first_name %></dd>

              <dt>Last name</dt>
              <dd><%= @photographer.last_name %></dd>

              <dt>Phone</dt>
              <dd><%= @photographer.phone %></dd>

              <dt>Email</dt>
              <dd><%= @photographer.email %></dd>

              <dt>Paypal</dt>
              <dd><%= @photographer.paypal %></dd>
            </dl>
          </div>
        </div>

        <div class="row">
          <table class="table table-striped">
            <tr>
              <th>Games</th>
              <th>Photos Received</th>
              <th>Payment Status</th>
            </tr>
            <% ordered_games = @photographer.games.order(:date) %>
            <% ordered_games.each do |game| %>
            <tr>
              <td>
                <a href="/games/<%= game.id %>" >
                  <%= game.gender.gender %> &nbsp <%= game.level.level %> &nbsp<%= game.sport.sport %>, &nbsp<%= School.find_by({ :id => game.away_id }).short_name %> &nbsp at &nbsp<%= School.find_by({ :id => game.home_id }).short_name %> &nbsp(<%= game.event_title.title %>, &nbspLocation: <%= game.location.short_name %>, &nbsp <%= game.date %> &nbsp <%= game.time %>)
                </a>
             </td>
             <td>
                <% if game.photos_submitted == 'true' %>
                  <i class="fa fa-check-square-o fa-4x"></i>
                <% else %>
                  <i class="fa fa-times fa-4x"></i>
                <% end  %>
             </td>
             <td>
                <% if game.game_paid == 'true' %>
                  <i class="fa fa-check-square-o fa-4x"></i>
                <% else %>
                  <i class="fa fa-times fa-4x"></i>
                <% end %>
            </td>
           </tr>
           <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- End responsive panel example -->
