<!-- Responsive panel example-->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Photographer Record: <%= @photographer.first_name %> <%= @photographer.last_name %></h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <dl class="dl-horizontal">
              <dt>First name</dt>
              <dd><%= @photographer.first_name %></dd>

              <dt>Last name</dt>
              <dd><%= @photographer.last_name %></dd>

              <dt>Phone</dt>
              <dd><%= @photographer.phone %></dd>

              <dt>Email</dt>
              <dd><%= @photographer.email %></dd>

              <dt>Paypal</dt>
              <dd><%= @photographer.paypal %></dd>
            </dl>
          </div>
        </div>

        <div class="row">
          <table class="table table-striped">
            <tr>
              <td>Games</td>
              <td>Photos Received</td>
              <td>Payment Status</td>
            </tr>
            <tr>
              <td>
                <% ordered_games = @photographer.games.order(:date) %>
                <% ordered_games.each do |game| %>
                <ul>
                <%= game.gender.gender %> &nbsp <%= game.level.level %> &nbsp<%= game.sport.sport %>, &nbsp<%= School.find_by({ :id => game.away_id }).short_name %> &nbsp at &nbsp<%= School.find_by({ :id => game.home_id }).short_name %> &nbsp(<%= game.event_title.title %>, &nbspLocation: <%= game.location.short_name %>, &nbsp <%= game.date %> &nbsp <%= game.time %>)
                </ul>
               <% end %>
             </td>
             <td>
              <% ordered_games.each do |game| %>
               <ul>
                <% if game.photos_submitted == 'true' %>
                  <i class="fa fa-check-square-o fa-4x"></i>
                <% else %>
                  <i class="fa fa-times fa-4x"></i>
                <% end %>
               </ul>
               <% end %>
             </td>
             <td>
               <% ordered_games.each do |game| %>
               <ul>
                <% if game.game_paid == 'true' %>
                  <i class="fa fa-check-square-o fa-4x"></i>
                <% else %>
                  <i class="fa fa-times fa-4x"></i>
                <% end %>
               </ul>
               <% end %>
            </td>
           </tr>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="btn-group btn-group-justified">
              <a href="/photographers" class="btn btn-primary">
                <i class="fa fa-chevron-left"></i>
              </a>

              <a href="/photographers/<%= @photographer.id %>/edit" class="btn btn-warning">
                <i class="fa fa-edit"></i>
              </a>

              <a href="/delete_photographer/<%= @photographer.id %>" class="btn btn-danger">
                <i class="fa fa-trash-o"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- End responsive panel example -->
