<!-- Admin access only -->
<% if current_photographer.try(:admin_status?) %>

<!-- Validation failure messages -->

<% if @school.errors.any? %>
  <% @school.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<!-- Responsive panel example -->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Edit School #<%= @school.id %></h3>
      </div>
      <div class="panel-body">
        <form action="/update_school/<%= @school.id %>" class="form-horizontal">
          <!-- Label and input for short_name -->
          <div class="form-group">
            <label for="short_name" class="col-sm-2 control-label">
              Short name
            </label>
            <div class="col-sm-10">
              <input type="text" id="short_name" name="short_name" placeholder="Short name" class="form-control" value="<%= @school.short_name %>">
            </div>
          </div>

          <!-- Label and input for long_name -->
          <div class="form-group">
            <label for="long_name" class="col-sm-2 control-label">
              Long name
            </label>
            <div class="col-sm-10">
              <input type="text" id="long_name" name="long_name" placeholder="Long name" class="form-control" value="<%= @school.long_name %>">
            </div>
          </div>

          <!-- Label and input for address -->
          <div class="form-group">
            <label for="address" class="col-sm-2 control-label">
              Address
            </label>
            <div class="col-sm-10">
              <input type="text" id="address" name="address" placeholder="Address" class="form-control" value="<%= @school.address %>">
            </div>
          </div>

          <!-- Label and input for city -->
          <div class="form-group">
            <label for="city" class="col-sm-2 control-label">
              City
            </label>
            <div class="col-sm-10">
              <input type="text" id="city" name="city" placeholder="City" class="form-control" value="<%= @school.city %>">
            </div>
          </div>

          <!-- Label and input for state -->
          <div class="form-group">
            <label for="state" class="col-sm-2 control-label">
              State
            </label>
            <div class="col-sm-10">
              <input type="text" id="state" name="state" placeholder="State" class="form-control" value="<%= @school.state %>">
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <input type="submit" value="Update School" class="btn btn-warning">
              or
              <a href="/schools/<%= @school.id %>">Cancel</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- End responsive panel example -->

<% else %>

Sorry, that page is only for Varsity Views administrators.

<% end %>
